<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="/register" method="post">
        <label>User name:</label><br />
        <input name="username" type="text" /><br />
        <label>Email:</label><br />
        <input name="email" type="email" /><br />
        <label>Password:</label><br />
        <input name="password" type="password" /><br />
        <input type="submit" value="Register" />
    </form>
</body>
</html>